<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :contact_nombre %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.number_field :tel, id: :contact_tel %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contact_email %>
  </div>

  <div class="field">
    <%= form.label :mensaje %>
    <%= form.text_area :mensaje, id: :contact_mensaje %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
